h1  Hello

form
    input(type='text', name='name', placeholder='Ricky')
    input(type='text', name='text', placeholder='Bobby')
    input(type='submit')

ul

script(src="/vendor/socket.io-client/socket.io.js ")
script(src='/js/main.js')
